* {
  box-sizing: border-box;
}
.inputBox {
  position: relative;

  margin: 20px;
}
.inputBox fieldset {
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.25);
  width: 100%;
  border-radius: 5px;
}
.inputBox fieldset:hover {
  border: 1px solid rgba(255, 255, 255, 0.762);
}
.fieldsetFocused {
  border: 1px solid #00dfc4 !important;
}
.inputBox fieldset button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  border: none;
  background-color: var(--gray-900);
}
.inputBox fieldset button:hover {
  background-color: var(--gray-800);
}
.inputBox input:valid .textInput,
.inputBox input:focus .textInput {
  border: 1px solid #00dfc4;
}
.inputBox input {
  width: 100%;
  padding: 15px;
  border: none;
  background-color: var(--gray-900);
  outline: none;
  color: #fff;
  font-size: 1.2em;
  transition: 0.2s;
}
.inputBox span {
  position: absolute;
  left: 0;
  top: 10px;
  pointer-events: none;
  font-size: 1.2em;
  padding: 10px 15px;
  color: rgba(255, 255, 255, 0.75);
  transition: 0.2s;
}
.spanActivated {
  /* color: #00dfc4 !important; */
  transform: translate(7px, -18px) scale(1) !important;
  font-size: 0.8em !important;
  padding: 0 5px !important;
  background-color: #242424 !important;
}
/* .spanFocused {

  transform: translate(7px, -18px) scale(1) !important;
  font-size: 0.8em !important;
  padding: 0 5px !important;
  background-color: #242424 !important;
} */
.inputBox input:valid,
.inputBox input:focus {
  border: none;
}
.spanFocused {
  color: #00dfc4 !important;
}
.buttonBox {
  display: flex;
}
.buttonBox button {
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.svgIcon {
  height: 1.5em;
  width: 1.5em;
}
